{% extends 'base.html' %}

{% block title %}Operators - Delta Force{% endblock %}

{% block content %}
<h2>Meet the Operators</h2>
<ul>
    <li><strong>Vyron</strong> – Assault</li>
    <li><strong>D-Wolf</strong> – Assault</li>
    <li><strong>Nox</strong> – Assault</li>
    <li><strong>Stinger</strong> – Support</li>
    <li><strong>Toxik</strong> – Support</li>
    <li><strong>Sheperd</strong> – Engineer</li>
    <li><strong>Uluru</strong> – Engineer</li>
    <li><strong>Sineva</strong> – Engineer</li>
    <li><strong>Luna</strong> – Recon</li>
    <li><strong>Hackclaw</strong> – Recon</li>
</ul>
{% endblock %}
